<H1>FORMULÁRIO DE CADASTRO</H1>
<form>
    <fieldset>

        <legend>INFORME SEUS DADOS PARA CADASTRO</legend>
        <div>
            <inputtext></inputtext>
        </div><br>
        <div>
            <inputemail></inputemail>
        </div> <br>
        <div>
            <inputnumber></inputnumber>
        </div><br>
        <div>
            <inputpassword></inputpassword>
        </div> <br>
        <div>
            <inputdate></inputdate>
        </div><br>
        <div>
            <inputbutton></inputbutton>
        </div>
    </fieldset>
</form>